<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style>
		body {
		  padding: 50px;
		  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
		}
		a {
		  color: #00B7FF;
		}
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <table>
      <tr>
        <th>Nº</th>
        <th>GIF</th>
        <th>DESCRIPCION</th>
        <th>NUMERO DE ACCESOS</th>
      </tr>

      <% for(var i=0; i < gifs.length; i++) { %>
        <tr>
          <td><%= i+1 %>. </td>
          <td><img src=<%= gifs[i].url %> /></td>
          <td><p><%= gifs[i].description %></p></td>
          <td><span><%= gifs[i].num_accesses %></span></td>
        </tr>
      <% } %>

    </table>

  </body>
</html>
